{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/index-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Synthetic organic chemist turned data scientist and cheminformatician.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, I'm Jon.</p>
        <p>I started my career as a synthetic organic chemist, and after a few years in the lab I moved into data science and cheminformatics.</p>
        <p>I'm using this space to post my thoughts and personal projects as I begin to explore the field.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}